<mat-table mat-table [dataSource]="estoques">

  <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

  <!-- Codigo Column -->
  <ng-container matColumnDef="idProduto">
    <mat-header-cell *matHeaderCellDef> Codigo </mat-header-cell>
    <mat-cell *matCellDef="let estoque"> {{estoque.idProduto}} </mat-cell>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="idUsuario">
    <mat-header-cell *matHeaderCellDef> usuario </mat-header-cell>
    <mat-cell *matCellDef="let estoque"> {{estoque.idUsuario}} </mat-cell>
  </ng-container>

<!-- Name Column -->
<ng-container matColumnDef="dataSaida">
  <mat-header-cell *matHeaderCellDef> Data </mat-header-cell>
  <mat-cell *matCellDef="let estoque"> {{estoque.dataSaida}} </mat-cell>
</ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table>
