<mat-card>

  <mat-toolbar color="primary"> Login</mat-toolbar>
  <mat-card-content>
    <form class="min-width">

      <mat-form-field class="full-width">
        <mat-label for="email">User Name: </mat-label>
          <input matInput type="text" id="username" placeholder="Enter User Name"
            name="username">
      </mat-form-field>

      <mat-form-field class="full-width">
        <mat-label for="email">Senha: </mat-label>
        <input matInput placeholder="Enter password"
          formControlName = "Senha"[type]="hide ? 'password' : 'text'">
          <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
      </mat-form-field>
    </form>

    <mat-card-actions>
      <button type="submit" mat-raised-button color="primary" (click)="handleLogin()">
        <mat-icon position="right">send</mat-icon> Login
      </button>
    </mat-card-actions>
  </mat-card-content>
</mat-card>
